<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <nav>
        <a href="{{url_for('signup')}}">Signup Page</a><br>
        <a href="{{url_for('login')}}">Login Page</a><br>
            <!-- Other navigation links -->
            {% if user %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
        <h1>This is the homepage.</h1>
        {%if user%}
        <p>Logged in as {{user.name}}</p>
        {%endif%}

        {%if space%}
        <p>Created space {{space.name}}</p>
        {%endif%}
        <

    </body>
</html>