<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>This is the homepage.</h1>
        {%if user%}
        <p>Logged in as {{user.name}}</p>
        {%endif%}
        <a href="{{url_for('signup')}}">Signup Page</a><br>
        <a href="{{url_for('login')}}">Login Page</a>
        <nav>
            <a href=''><img src='' title="Logo"></a>
            <a href=''><button>Log in</button></a>
            <a href=''><button>Spaces</button></a>
            <a href=''><button>Requests</button></a>
        </nav>
        <div class="cta-card">
            <button>Sign Up</button>

        </div>
        
        {% for space in spaces %}
        <div>
            Address: {{space.address}}
            Name: {{space.name}}
            Price: {{space.price}}

            <a href="/listing/{{space.id}}"><button> Listings</button></a>
            

        </div>
        {% endfor %}
    </body>
</html>
