{% include 'header.html' %}
<body>
    {% include 'navbar.html' %}
    <h1 class='text-center title-main'>Listing Spaces</h1>
    <form action="/spaces/new" method="POST">
        <div>
            <label for="name">Name</label>
            <input required type="text" name="name" id="name" pattern="[a-zA-Z ]*"/>
        </div>
        <div>
            <label for="addressline">Address Line 1</label>
            <input required type="text" name="addressline" id="addressline" />
        </div>
        <div>
            <label for="city">Town/City</label>
            <input required type="text" name="city" id="city" />
        </div>
        <div>
            <label for="postcode">Postcode</label>
            <input required type="text" name="postcode" id="postcode" />
        </div>
        <div>
            <label for="description">Description</label>
            <input required type="text" name="description" id="description" />
        </div>
        <div>
            <label for="price">Price per night (£)</label>
            <input required type="number" name="price" id="price" />
        </div>
        <div>
            <label for="start_date">Available from (YY/MM/DD)</label>
            <input required type="date" name="start_date" id="start_date" />
        </div>
        <div>
            <label for="end_date">Available to (YY/MM/DD)</label>
            <input required type="date" name="end_date" id="end_date" />
        </div>
        <div class="d-none">
            <label for="user_id">user id</label>
            <input required type="number" name="user_id" id="user_id" value="{{user.id}}" />
        </div>
        <input class='button' type="submit" value='Register'>
    </form>
</body>
</html>