<nav class="navbar bg-body-tertiary mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/spaces">
            <img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/makersacademylogo/original.png?1560210076"
                alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <i class="text-primary">Makers BNB</i>
        </a>
        <ul class="nav justify-content-end">
            {% if user %}
            <li class="nav-item">
                <strong class="nav-link text-success">{{user.name}}</strong>
            </li>
            <li class="nav-item mb-2 mr-2 ml-4 mu-2">
                <a class="nav-link" href="/spaces">Spaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/requests">Requests</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/confirmations">My Confirmations</a>
                </li> -->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><strong>Sign Up</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif %}
            {% if user %}
            <li class="nav-item">
                <a class="nav-link" href="/logout"><strong>Logout</strong></a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>