<nav class="navbar bg-body-tertiary mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/spaces">
            <img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/makersacademylogo/original.png?1560210076"
                alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <i class="text-primary">Makers BNB</i>
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/spaces">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/spaces">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup"><strong>Sign Up</strong></a>
            </li>
        </ul>
    </div>

</nav>