<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaces</title>
</head>
<body>
    <h1>Requests</h1>
    <form action="/requests">
        <div>
            <h1>Requests I've Made</h1>
            <p>name:{{user.name}}</p>
        </div>
        <div>
            <h1>Requests I've Recieved</h1>
            <label for="addressline">Address Line 1</label>
            <input required type="text" name="addressline" id="addressline" />
        </div>

</body>
</html>