{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}
    <div class="margin-cont text-center">
        <h1 class="border-bottom border-primary mb-4 title-main">{{space.name}}</h1>
        <div class="card mx-auto shadow-lg margin-cont" style="width: 30rem;">
            <img src="{{space.image_url}}" class="card-img-top" alt="listing-image">
            <div class="card-body">
                <p class="card-title">{{space.description}}</p>
                <h5 class="card-text text-primary">{{space.address}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-success">£{{(space.price)|round(2)}} ppn | £{{(space.price *
                    7)|round(2)}} ppw</li>
            </ul>

            <div class="card-body">
                <form action="/spaces/{{space.id}}" method="POST">
                    <input type="date" name="date" id="date"/>
                    <button class="btn btn-primary button-blue">
                        <span class="span-mother">
                            <span>B</span>
                            <span>o</span>
                            <span>o</span>
                            <span>k</span>
                          
                        </span>
                        <span class="span-mother2">
                            <span>B</span>
                            <span>o</span>
                            <span>o</span>
                            <span>k</span>
                        </span>
                        </button>
                </form>
            
            </div>
        </div>
    </div>

</body>

</html>